<div class="d-flex align-items-center p-2">
   <div class="col-2">
      <span class="h1 bg-secondary m-0"> {{top.name}} </span>
   </div>
   <div class="col-10 d-flex align-items-center gap-3">
      <div class="_wrap d-flex justify-content-center align-items-center">
         <img src="{{top.summon_1.img}}" class="border" [ngClass]="top.summon_1.state ? 'img__summon__active' : 'img__summon'">
         <span class="_timer h2 m-0" *ngIf="top.summon_1.state">{{top.summon_1.cooldown}}</span>
      </div>
      <div class="_wrap d-flex justify-content-center align-items-center">
         <img src="{{top.summon_2.img}}" class="border" [ngClass]="top.summon_2.state ? 'img__summon__active' : 'img__summon'">
         <span class="_timer h2 m-0" *ngIf="top.summon_2.state">{{top.summon_2.cooldown}}</span>
      </div>
      <img src="assets/images/cdr/cosmic-insight.webp" class="border" style="width: 40px; height: 40px; opacity: 40%;">
      <img src="assets/images/cdr/ionian-boots.webp" class="border" style="width: 40px; height: 40px; opacity: 40%;">
   </div>
</div>